/* 
   outline css - main
*/

*,*::before,*::after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

/* default props */
:root {
   /* font stacks - enable one of these */
   /* Sans-serif */
   --font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
   /* Serif */
   /* --font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; */
   /* Mono */
   --font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

   /* fonts */
   --font-size:17px;

   /* colors */
   --primary-bg-color:orange;
   --secondary-bg-color:blue;

   --primary-text-color:blue;
   --secondary-text-color:white; 

   /* borders */
   --border-color:#CCC;
   --border-radius:.25rem;

   /* headings */
   --h1-heading:3em;
   --h2-heading:2.5rem;
   --h3-heading:2rem;
   --h4-heading:1.5rem;
   --h5-heading:1.25rem;
   --h6-heading:1.15rem;

   /* we calc heading line height from --h?-heading size */
   --line-height-fraction:.95;

   /* content */
   --paragraph-width:66rem;
   --form-width:32rem;
   --indent-lists:1.75rem;
}


/* sectioning root */
body {
   font-size:var(--font-size);
   font-family: var(--font-family);
   margin:0;
   padding:1rem;
}


/* content sectioning */
/*
address {}
article {}
aside {}
*/
header {
   min-width:100%;
   margin:0;
}

h1 {
   font-size:var(--h1-heading);
   line-height:calc(var(--line-height-fraction) * var(--h1-heading));
}
h2 {
   font-size:var(--h2-heading);
   line-height:calc(var(--line-height-fraction) * var(--h2-heading));
}
h3 {
   font-size:var(--h3-heading);
   line-height:calc(var(--line-height-fraction) * var(--h3-heading));
}
h4 {
   font-size:var(--h4-heading);
   line-height:calc(var(--line-height-fraction) * var(--h4-heading));
}
h5 {
   font-size:var(--h5-heading);
   line-height:calc(var(--line-height-fraction) * var(--h5-heading));
}
h6 {
   font-size:var(--h6-heading);
   line-height:calc(var(--line-height-fraction) * var(--h6-heading));
}

/* main {} */

/* text content */

/* 
blockquote {}
div {}
figcaption {}
hr {}
menu {}
*/

ul {
   list-style:none;
   padding-left:var(--indent-lists);
   padding-right:var(--indent-lists);
}
ol {
   padding-left:var(--indent-lists);
   padding-right:var(--indent-lists);
}
/* li {} */
p {
   max-width:var(--paragraph-width);
   margin:auto;
   margin-top:3rem;
   margin-bottom:3rem;
}
pre {
   padding:0;
   text-align:left;
}


/* -----------------------------------
    inline text semantics 
   ----------------------------------- */
/* 
a {}
a:hover {}
a:visited {}
b {}
br {}
cite {}
*/
code {
   margin:0;
   padding:0;   
}
/*
em {}
i {}
mark {}
q {}
s {}
samp {}
small {}
span {}
strong {}
sub {}
sup {}
var {}
*/



/* img and multimedia */
/*
img {}
video {}
embed {}
iframe {}
object {}
*/


/* table content */
table {
   border:solid 1px var(--border-color);
   padding:0;
   border-collapse:collapse;
}
thead {
   font-size:1rem;
   border:solid 1px var(--border-color);
   color:var(--secondary-text-color);
   background-color:var(--secondary-bg-color);
}
th {
   font-weight:300;
   padding-left:.5rem;
   padding-right:.5rem;
   border:solid 1px var(--border-color);
}
tbody {
   margin:0;padding:0;
}
tr {
   border:solid 1px var(--border-color);
   margin:0;padding:0;
}
td {
   border:solid 1px var(--border-color);
   margin:0;
   padding-left:.5rem;
   padding-right:.5rem;
}
/* 
tfoot {}
caption {}
col {}
colgroup {} 
*/



/* forms */
form {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;

   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;

   width:var(--form-width);
   margin-left:auto;
   margin-right:auto;
}
form label {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-pack:justify;
   -ms-flex-pack:justify;
   justify-content:space-between;
   -webkit-box-align:center;
   -ms-flex-align:center;
   gap:1rem;
}
form label * {
   width:75%;
   padding:.5rem; 
   font-size:1.2rem;
}
form label textarea {
   height:8rem;
}
input {
   margin-top:1rem;
   margin-bottom:1rem;
}
/* 
label {}
legend {}
option {}
progress {}
select {}
textarea {}
*/

/* button */
button {
   width:fit-content;
   padding:1rem;
   background:transparent;
   color:hsl(0, 0%, 80%);
   border:solid 1px hsl(0, 0%, 75%);
   border-radius:.5rem;
   cursor:pointer;
   font-size:1.1rem;
}
button:hover {
   color:hsl(0, 0%, 100%);
   border:solid 1px white;
}
/*
 - button styling variations come largely from utility classes - see xxx-outline-utilities.css 
*/



/* colors */
.lightgray {color:hsl(0, 0%, 63%);}




/* font-weights */
.font-100 {font-weight:100;}


/* utilities */
.indent {margin-left:3rem;}

